*.x-panel-header {
    color: #f6ffd7;
    font-weight: normal;
    border-color: #144603;
}
*.x-panel-tbar {
    border-color: #144603;
}

*.x-panel-body {
    background-color: #e2f2c3;
}

.hr-html-panel-body {
    background-color: #e2f2c3;
}

.olControlPanPanel div {
    background-image: url('../../resources/images/default/panel/tool-sprites-gray.gif') !important;
}
.olControlZoomPanel div {
    background-image: url('../../resources/images/default/panel/tool-sprites-gray.gif') !important;
}

div.olControlZoom {
	/* ExtJS-3.4.0 - xtheme-gray  */
    /* color: #15428b; */	/* ExtJS-3.4.0 - xtheme-blue */
	/* color: #333; */		/* ExtJS-3.4.0 - xtheme-gray */
    color: #144603;
    /* background-color: #D3E1F1; */  /* ExtJS-3.4.0 - xtheme-blue */
    /* background-color: #E9E9E9; */  /* ExtJS-3.4.0 - xtheme-gray */
	background-color: #e2f2c3;
	/* border-color: #849CBD; */	/* ExtJS-3.4.0 - xtheme-blue */
	/* border-color: #aaaaaa; */	/* ExtJS-3.4.0 - xtheme-gray */
	border-color: #9eae7f;
}

.olControlLoadingPanel {
    /* background-color: #D3E1F1; */  /* ExtJS-3.4.0 - xtheme-blue  */
    /* background-color: #E9E9E9; */  /* ExtJS-3.4.0 - xtheme-gray  */
    /* background-color: #D9ECFF; */  /* for tool-sprite.gif - blue */
    background-color: #e2f2c3;
	color: #144603;


    /* for tool-sprite.gif - blue */
	border-bottom-color: #9eae7f;
	border-right-color: #9eae7f;
	border-top-color: #9eae7f;
	border-left-color: #9eae7f;
}