 /*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
/* ------------------------------------------------------------------- */
/* OL - Pan- and Zoombar Panel Styles                                  */
/* ------------------------------------------------------------------- */
.olControlPanPanel div {
    /* ExtJS-3.4.0 - xtheme-blue */
    background-image: url('../images/default/panel/tool-sprites-blue.gif') !important;
    /* ExtJS-3.4.0 - xtheme-gray  */
    /* background-image: url('../images/default/panel/tool-sprites-gray.gif') !important; */
    height: 15px !important;
    width: 15px !important;
    /* workaround for button height in IE */
    font-size: 0 !important;        
}
.olControlZoomPanel div {
    /* ExtJS-3.4.0 - xtheme-blue */
    background-image: url('../images/default/panel/tool-sprites-blue.gif') !important;
    /* ExtJS-3.4.0 - xtheme-gray  */
    /* background-image: url('../images/default/panel/tool-sprites-gray.gif') !important; */
    height: 15px !important;
    width: 15px !important;
    /* workaround for button height in IE */
    font-size: 0 !important;        
}
div.olControlZoom a {
	/* ExtJS-3.4.0 - xtheme-gray  */
    /* color: #15428b; */	/* ExtJS-3.4.0 - xtheme-blue */
	/* color: #333; */		/* ExtJS-3.4.0 - xtheme-gray */
    color: #15428b;
    /* background-color: #D3E1F1; */  /* ExtJS-3.4.0 - xtheme-blue */
    /* background-color: #E9E9E9; */  /* ExtJS-3.4.0 - xtheme-gray */
	background-color: #D3E1F1;
	border: solid 1px;
	/* border-color: #849CBD; */	/* ExtJS-3.4.0 - xtheme-blue */
	/* border-color: #aaaaaa; */	/* ExtJS-3.4.0 - xtheme-gray */
	border-color: #849CBD;
    display: block;
    margin: 1px;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 15px;
    width:15px;
    line-height: 15px;
    filter: alpha(opacity=100);
}
div.olControlZoom a:hover {
    /* background-color: #D3E1F1; */  /* ExtJS-3.4.0 - xtheme-blue */
    /* background-color: #E9E9E9; */  /* ExtJS-3.4.0 - xtheme-gray */
	background-color: #D3E1F1;
    filter: alpha(opacity=80);
}
.olControlLoadingPanel {
    /* background-color: #D3E1F1; */  /* ExtJS-3.4.0 - xtheme-blue  */
    /* background-color: #E9E9E9; */  /* ExtJS-3.4.0 - xtheme-gray  */
    /* background-color: #D9ECFF; */  /* for tool-sprite.gif - blue */
    background-color: #D3E1F1;
    background-image: url('../images/loading-transparent.gif') !important;
	background-repeat: no-repeat;
    background-position: 5px;
	display: none;
	color: #000000;
	margin-left: 65px;
	margin-top: 15px;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;	
    font: normal 11px tahoma, arial, helvetica, sans-serif;
	border: solid 1px;

    /* for tool-sprite.gif - blue */
	border-bottom-color: #849CBD;
	border-right-color: #849CBD;
	border-top-color: #849CBD;
	border-left-color: #849CBD;
    
    /* for tool-sprite-gray.gif - gray */
    /*
	border-bottom-color: #aaaaaa;
	border-right-color: #aaaaaa;
	border-top-color: #aaaaaa;
	border-left-color: #aaaaaa;
    */

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
}

/* ----- */
/* ExtJs */
/* ----- */
.x-panel-header {
    color: #15428b;
	font-weight: bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    border-color: #99bbe8;
    height: 19px;
    /*
    background-image: url(../images/default/panel/white-top-bottom.gif);
    */
}

/* ---------------------------------------------- */
/* --- ExtJs - Diversion from xtheme-blue.css --- */
/* --- for own dialog backgrounds --------------- */
/* ---------------------------------------------- */
.x-form-back-default {
    /* from ExtJS - xtheme-blue.css - .x-tab-panel-body */
    background-color: #fff;
    font:normal 12px arial,tahoma, helvetica, sans-serif;
}
.x-form-back {
    /* from ExtJS - xtheme-blue.css - .ext-el-mask-msg */
    background-color: #c3daf9;
    font:normal 12px arial,tahoma, helvetica, sans-serif;
}

/* ------------------------ */
/* GeoExt - ux.PrintPreview */
/* ------------------------ */
.gx-map-overlay .x-panel-body {
    /* from ExtJS - xtheme-blue.css - .ext-el-mask-msg */
    background-color: #c3daf9;
}
