 /*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* ------------------------------------------------------------------- */
/* --- OpenLayers ---------------------------------------------------- */
/* --- Pan / Zoombar / ControlZoom / Panel styles -------------------- */
/* ------------------------------------------------------------------- */
.olControlPanPanel div {
    /* ExtJS-3.4.0 - xtheme-blue */
    /* background-image: url('../images/default/panel/tool-sprites.gif') !important; */
    /* ExtJS-3.4.0 - xtheme-gray  */
    background-image: url('../images/default/panel/tool-sprites-gray.gif') !important;
    height: 15px !important;
    width: 15px !important;
    /* workaround for button height in IE */
    font-size: 0 !important;
}
.olControlZoomPanel div {
    /* ExtJS-3.4.0 - xtheme-blue */
    /* background-image: url('../images/default/panel/tool-sprites.gif') !important; */
    /* ExtJS-3.4.0 - xtheme-gray  */
    background-image: url('../images/default/panel/tool-sprites-gray.gif') !important;
    height: 15px !important;
    width: 15px !important;
    /* workaround for button height in IE */
    font-size: 0 !important;
}

div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    /* OL */
	/* color: white; */
	/* ExtJS-3.4.0 */
    /* color: #15428b; */               /* ExtJS-3.4.0 - xtheme-blue */
    /* color: #333; */                  /* ExtJS-3.4.0 - xtheme-gray */
    /* color: #144603; */               /* ExtJS-3.4.0 - xtheme-greenery */
    color: #144603;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width:22px;
    line-height: 19px;
    /* OL */
    /* background: #130085; */ /* fallback for IE - IE6 requires background shorthand*/
    /* background: rgba(0, 60, 136, 0.5); */
	/* ExtJS-3.4.0 */
    /* background-color: #D3E1F1; */    /* ExtJS-3.4.0 - xtheme-blue */
    /* background-color: #E9E9E9; */    /* ExtJS-3.4.0 - xtheme-gray */
    /* background-color: #e2f2c3; */    /* ExtJS-3.4.0 - xtheme-greenery */
    background-color: #e2f2c3;
    filter: alpha(opacity=80);
	/* ExtJS-3.4.0 */
    /* border-color: #849CBD; */        /* ExtJS-3.4.0 - xtheme-blue */
    /* border-color: #aaaaaa; */        /* ExtJS-3.4.0 - xtheme-gray */
    /* border-color: #9eae7f; */        /* ExtJS-3.4.0 - xtheme-greenery */
    border: solid 1px;
    border-color: #9eae7f;
}
div.olControlZoom a:hover {
    /* OL */
    /* background: #130085; */ /* fallback for IE */
    /* background: rgba(0, 60, 136, 0.7); */
	/* ExtJS-3.4.0 */
    /* background-color: #c3daf9; */    /* ExtJS-3.4.0 - xtheme-blue */
    /* background-color: #dbdbdb; */    /* ExtJS-3.4.0 - xtheme-gray */
    /* background-color: #9eae7f; */    /* ExtJS-3.4.0 - xtheme-greenery */
    background-color: #9eae7f;
    filter: alpha(opacity=100);
}

.olControlLoadingPanel {
    /* background-color: #D3E1F1; */    /* ExtJS-3.4.0 - xtheme-blue  */
    /* background-color: #E9E9E9; */    /* ExtJS-3.4.0 - xtheme-gray  */
    /* background-color: #e2f2c3; */    /* ExtJS-3.4.0 - xtheme-greenery */
    /* background-color: #D9ECFF; */    /* for tool-sprite.gif - blue */
    background-color: #e2f2c3;
    background-image: url('../images/loading-transparent.gif') !important;
    background-repeat: no-repeat;
    background-position: 5px;
    display: none;
    /* color: #000000; */  				/* ExtJS-3.4.0 - xtheme-blue  */
    /* color: #000000; */               /* ExtJS-3.4.0 - xtheme-gray */
    /* color: #144603; */				/* ExtJS-3.4.0 - xtheme-greenery */
    color: #144603;
    margin-left: 65px;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    border: solid 1px;

    /* for tool-sprite.gif - blue */
    /*
	border-bottom-color: #849CBD;
	border-right-color: #849CBD;
	border-top-color: #849CBD;
	border-left-color: #849CBD;
    */

    /* for tool-sprite-gray.gif - gray */
    /*
    border-bottom-color: #aaaaaa;
    border-right-color: #aaaaaa;
    border-top-color: #aaaaaa;
    border-left-color: #aaaaaa;
    */

    /* for tool-sprite-gray.gif - greenery */
    border-bottom-color: #9eae7f;
    border-right-color: #9eae7f;
    border-top-color: #9eae7f;
    border-left-color: #9eae7f;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
}

.olControlLayerSwitcher .layersDiv {
     /* background-color: gray; */          /* theme blue */
     /* background-color: gray; */          /* theme gray */
     /* background-color: darkgreen; */     /* theme greenery */
     background-color: darkgreen;
}

.olHandlerBoxZoomBox {
     /* border: 2px solid red; */           /* theme blue */
     /* border: 2px solid red; */           /* theme gray */
     /* border: 2px solid #144603; */       /* theme greenery */
     border: 2px solid #144603;
}

/* ------------------------------------------------------------------- */
/* --- ExtJs --------------------------------------------------------- */
/* --- panel / form styles ------------------------------------------- */
/* ------------------------------------------------------------------- */
.x-panel-header {
    /* color: #15428b; */                   /* from ExtJS - xtheme-blue.css - .x-panel-header */
    /* color: #333; */                      /* from ExtJS - xtheme-gray.css - .x-panel-header */
    /* color: #f6ffd7; */                   /* theme greenery */
    color: #f6ffd7;
    font-weight: bold;
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    /* border-color: #99bbe8; */            /* from ExtJS - xtheme-blue.css - .x-panel-header */
    /* border-color: #d0d0d0; */            /* from ExtJS - xtheme-gray.css - .x-panel-header */
    /* border-color: #144603; */            /* theme greenery */
    border-color: #d0d0d0;
    /** In order to align with map panel toolbar http://code.google.com/p/geoext-viewer/issues/detail?id=162 */
    padding-top: 5px;
    padding-bottom: 6px;
    /* height: 19px; see issue #162 */
    /* background-image: url(../images/default/panel/white-top-bottom.gif); */
}

*.x-panel-tbar {
    /* border-color: #99bbe8; */            /* from ExtJS - xtheme-blue.css - .x-panel-tbar */
    /* border-color: #d0d0d0; */            /* from ExtJS - xtheme-gray.css - .x-panel-tbar */
    /* border-color: #144603; */            /* theme greenery */
    border-color: #144603;
}

*.x-panel-body {
    /* background-color: #fff; */           /* from ExtJS - xtheme-blue.css - .x-panel-body */
    /* background-color: #fff; */           /* from ExtJS - xtheme-blue.css - .x-panel-body */
    /* background-color: #e2f2c3; */        /* theme greenery */
    background-color: #e2f2c3;
}

.x-form-back-default {
    /* background-color: #fff; */           /* from ExtJS - xtheme-blue.css - .x-panel-body */
    /* background-color: #fff; */           /* from ExtJS - xtheme-gray.css - .x-panel-body */ 
    /* background-color: #e2f2c3; */        /* theme greenery */
    background-color: #e2f2c3;
    font:normal 12px arial,tahoma, helvetica, sans-serif;
}
.x-form-back {
    /* background-color: #c3daf9; */        /* from ExtJS - xtheme-blue.css - .ext-el-mask-msg */
    /* background-color: #dbdbdb; */        /* from ExtJS - xtheme-gray.css - .ext-el-mask-msg */
    /* background-color: #9eae7f; */        /* theme greenery */
    background-color: #9eae7f;
    font:normal 12px arial,tahoma, helvetica, sans-serif;
}

/* ------------------------------------------------------------------- */
/* --- GeoExt -------------------------------------------------------- */
/* --- ux.PrintPreview ----------------------------------------------- */
/* ------------------------------------------------------------------- */
.gx-map-overlay .x-panel-body {
    /* background-color: #c3daf9; */        /* from ExtJS - xtheme-blue.css - .ext-el-mask-msg */
    /* background-color: #dbdbdb; */        /* from ExtJS - xtheme-gray.css - .ext-el-mask-msg */
    /* background-color: #e2f2c3; */        /* theme greenery */
    background-color: #e2f2c3;
}

/* ------------------------------------------------------------------- */
/* --- Heron --------------------------------------------------------- */
/* --- Overrides of default.css -------------------------------------- */
/* ------------------------------------------------------------------- */
.hr-html-panel-body {
    /* background-color: #ffffff; */        /* theme blue */ 
    /* background-color: #ffffff; */        /* theme gray */ 
    /* background-color: #e2f2c3; */        /* theme greenery */
    background-color: #e2f2c3;
}

.hr-legend-panel-header {
    background-color: #e2f2c3;
}

.hr-bookmark-panel-body {
    background-color: #e2f2c3;
}

.hr-bookmark-title-description {
    background-color: #e2f2c3;
}

.hr-bookmark-title-header {
    background-color: #e2f2c3;
}

.hr-bookmark-title-hr {
    background-color: #e2f2c3;
}

.hr-bookmark-link-project {
    background-color: #e2f2c3;
}

.hr-bookmark-link-user {
    background-color: #e2f2c3;
}

.hr-bookmark-link-invalid {
    background-color: #e2f2c3;
}
